<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <clear />
    <!-- Se debe limpiar para evitar que ConfigurationManager.ConnectionStrings incluya por default LocalSqlServer-->
    <add name="BD1G" connectionString="Server=10.100.100.10;database=Clientes_SFA;User ID=ActualizadorSIR;Password=actsir01" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>